@(account: Account)

@template(Some(account), None, "My Favourites") {

<div class="hidden-data">
  <div id="account-uuid">@account.uuid</div>
</div>

<script data-main='@routes.Assets.at("javascripts/abstracts-favourite.js")' src='@routes.Assets.at("lib/requirejs/require.min.js")'></script>

<!-- ko if: isLoading -->
<div class="alert alert-info fade show" role="alert">
  <h4>Loading data</h4>
  <p>Please wait...</p>
</div>
<!-- /ko -->

<!-- ko if: noFavouriteAbstracts -->
<div class="alert alert-info fade show" role="alert" style="display: none" data-bind="visible: true">
  <strong>You have no favourite abstracts yet. Click the star button on an abstract to add it.</strong>
</div>
<!-- /ko -->

<div class="myfavourites" style="display: none" data-bind="visible: true">

  <div data-bind="visible: error">
    <!-- ko with: error -->
    <div class="alert alert-warning alert-dismissible show" data-bind="css: level" role="alert">
      <strong data-bind="html: message"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- /ko -->
  </div>

  <div class="conferences" data-bind="foreach: conferences">
    <div class="card conference">
      <div class="card-header">
        <a data-bind="attr: { href: localConferenceLink() }, text: name"></a>
      </div>
      <ul class="list-group list-group-flush">
        <!-- ko if: cite -->
        <li class="list-group-item">
          <span data-bind="text: cite"></span>
        </li>
        <!-- /ko -->
        <!-- ko foreach: abstracts -->
        <li class="list-group-item abstract">
          <a data-bind="attr: { href: createLink().absLink }">
            <span data-bind="text: title"> </span>
            <span class="badge bg-secondary" data-bind="text: state"></span>
          </a>
        </li>
        <!-- /ko -->
      </ul>
    </div>
  </div>
</div>
}