@(account: Account, conference: Conference)

@template(Some(account), Some(conference), "conference") {

<div class="hidden-data">
  <div id="conference-uuid">@conference.uuid</div>
</div>

<script data-main='@routes.Assets.at("javascripts/admin-abstracts.js")' src='@routes.Assets.at("lib/requirejs/require.min.js")'></script>

<div data-bind="if: message">
  <!-- ko with: message -->
  <div class="alert alert-info fade show" data-bind="css: level" role="alert">
    <h4 data-bind="text: message">Loading data</h4>
    <p data-bind="html: desc">Please wait...</p>
  </div>
  <!-- /ko -->
</div>

<div style="display: none" data-bind="visible: true">

  <div class="page-header">
    <h1>@conference.name <small>Abstracts</small></h1>
  </div>

  <!-- abstract state selector -->
  <div>
    <p data-bind="with: abstractNumbers">Showing abstracts: <span data-bind="text: active"></span>
      of <span data-bind="text: total"></span>.</p>
    <div class="btn-group" data-bs-toggle="buttons" data-bind="foreach: selectableStates">
      <button type="button" class="btn btn-primary btn-xs" data-bs-toggle="button" data-bind="text: $data, bsToggled: $root.selectedStates"></button>
    </div>
  </div>
  <hr>

  <!-- The abstract list -->
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Authors</th>
        <th>Title</th>
        <th>Type</th>
        <th>Topic</th>
        <th>State</th>
        <th></th>
      </tr>
    </thead>
    <tbody data-bind="foreach: abstracts">
      <tr>
        <td><span data-bind="text: $root.mkAuthorList($data)"></span></td>
        <td><span data-bind="text: title"> </span></td>
        <td>
          <!-- ko foreach: abstrTypes -->
          <div data-bind="text:$data.short"></div>
          <!-- /ko -->
        </td>
        <td data-bind="if: topic">
          <div data-bind="text: topic.slice(0,3)"></div>
        </td>
        <td>
          <div class="dropdown">
            <button class="btn btn-xs btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bind="enable: possibleStates().length">
              <span data-bind="text: state"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-bind="click: $root.beginStateChange.bind($root, $data)">Set with note...</a></li>
              <li class="dropdown-divider"></li>

              <!-- ko foreach: possibleStates -->
              <li><a class="dropdown-item" href="#" data-bind="text: $data, bsDropdown: $parent"></a></li>
              <!-- /ko -->
            </ul>
          </div>
        </td>
        <td data-bind="with: viewEditCtx">
          <a class="btn btn-xs" role="button" data-bind="attr: { href: link }, css: btn, text: label"></a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Dialog for state change note -->
  <div class="modal fade" id="state-dialog" tabindex="-1" aria-hidden="true" data-bind="with: selectedAbstract">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Change abstract state</h3>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <span data-bind="text: $root.mkAuthorList($data)"></span>
            <br />
            <b><span data-bind="text: title"> </span></b>
          </div>

          <hr />

          <div class="mb-3">
            <label for="oldState">Old state:</label>
            <input class="form-control" type="text" readonly data-bind="value: state" id="oldState">  
          </div>
          <div class="mb-3">
            <label for="state-dialog-states">New state:</label>
            <select id="state-dialog-states" class="form-control" data-bind="foreach: possibleStates()">
              <option data-bind="value: $data, text: $data"></option>
            </select>            
          </div>
          <div class="mb-3">
            <label for="noteId">Message:</label>
            <textarea class="form-control" id="noteId" data-bind="value: $root.note, valueUpdate: 'afterkeydown'" cols="80" rows="3" maxlength="255"></textarea>
            <div>
              <span>Characters left: </span>
              <span data-bind="text: $root.editorNoteCharactersLeft"></span>
            </div>              
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-default" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal" data-bind="click: $root.finishStateChange">
            Set state!
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

}