@(account: Account, emailForm: Form[(String, String, String)])(implicit env:com.mohiva.play.silhouette.core.Environment[models.Login, _], request: RequestHeader)

@import views.html.bootstrap._

@template(Option(account), None, "") {

@flash(request)

<div class="row justify-content-center">
  <fieldset class="col-md-7">
    <legend class="mb-3">Change E-Mail</legend>

    @helper.form(action = routes.Accounts.emailchangeCommit()) {

    @text(emailForm("email1"), "Enter new E-Mail")
    @text(emailForm("email2"), "Confirm new E-Mail")
    @password(emailForm("password"), "Enter your password", icon = "key")

    <div class="mb-3">
      <div class="d-grid">
        <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Change E-Mail</button>
      </div>
    </div>
    }
  </fieldset>
</div>

}