@(account: Option[Account], conference: Conference)

@template(account, Option(conference), "conferenceschedule") {

<script data-main='@routes.Assets.at("javascripts/conference-schedule.js")' src='@routes.Assets.at("lib/requirejs/require.min.js")'></script>

<div class="hidden-data">
  <div id="conference-uuid">@conference.uuid</div>
</div>

<div class="hidden-data">
  <div id="account-uuid">
@if(account.isDefined) {
    @account.get.uuid
}
  </div>
</div>

<!-- ko if: isLoading -->
<div class="alert alert-info fade show" role="alert">
  <h4 data-bind="text: isLoading">Loading data</h4>
  <p>Please wait...</p>
</div>
<!-- /ko -->

<div style="display: none" data-bind="visible: true">

  <!-- Error message box -->
  <div data-bind="visible: error">
    <!-- ko with: error -->
    <div class="alert alert-dismissible fade show" data-bind="css: level" role="alert">
      <strong data-bind="html: message"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- /ko -->
  </div>

  <!-- The conference schedule page -->
  <div class="jumbotron">
    <div class="page-header">
      <h1>@conference.name</h1>
    </div>
    <div class="conference-scheduler-border">
      <div data-bind="attr: {'style': 'height:' + schedulerHeight() + 'px;'}" id="conference_scheduler" class="dhx_cal_container">
        <div class="dhx_cal_navline">
          <!-- ko if: customNavbarVisible -->
          <div class="btn-toolbar justify-content-between conference-scheduler-navbar" role="toolbar">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-secondary" data-bind="click: function() {firstSchedulerDate()}"><i class="fa-solid fa-backward-step"></i></button>
              <button type="button" class="btn btn-outline-secondary" data-bind="click: function() {modifySchedulerDate(-1)}"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
            <div class="btn-group conference-scheduler-navbar-days" role="group" data-bind="foreach: displayCustomDates">
              <button type="button" class="btn btn-outline-secondary conference-scheduler-navbar-day"
                data-bind="text: dayjs($data).format('D[ ]MMMM[ ]YYYY'), css: $root.displayHighlightDate()[$index()], click: function() {$root.setSchedulerDate($data)}"></button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-secondary" data-bind="click: function() {modifySchedulerDate(1)}"><i class="fa-solid fa-chevron-right"></i></button>
              <button type="button" class="btn btn-outline-secondary" data-bind="click: function() {lastSchedulerDate()}"><i class="fa-solid fa-forward-step"></i></button>
            </div>
          </div>
          <!-- /ko -->
          <div class="dhx_cal_prev_button" data-bind="visible: navbarPrevVisible">&nbsp;</div>
          <div class="dhx_cal_next_button" data-bind="visible: navbarNextVisible">&nbsp;</div>
          <div class="dhx_cal_today_button" style="display:none;"></div>
          <div class="dhx_cal_date" data-bind="visible: navbarDateVisible"></div>
          <div class="dhx_cal_tab" data-tab="day" style="display:none;"></div>
          <div class="dhx_cal_tab" data-tab="week" style="display:none;"></div>
          <div class="dhx_cal_tab" data-tab="month" style="display:none;"></div>
        </div>
        <div class="dhx_cal_header"></div>
        <div class="dhx_cal_data"></div>
      </div>
    </div>
  </div>

</div>

<!-- Info popup -->
<div class="modal fade" id="conference-scheduler-info" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!-- ko if: infoBaseEvent() !== null && infoBaseEvent() !== undefined -->
      <div class="modal-header">
        <div class="modal-title">
          <h3 data-bind="text: infoBaseEvent().title"></h3>
          <h4 data-bind="text: infoBaseEvent().subtitle"></h4>  
        </div>
        <span class="badge" data-bind="text: infoEventType(), css: `badge-${infoEventType()}`.toLowerCase()"></span>
      </div>
      <div class="modal-body">
        <p>
          <strong>Date: </strong>
          <span data-bind="text: dayjs(infoBaseEvent().getStart()).format('D[ ]MMMM[ ]YYYY')"></span>
        </p>
        <p>
          <strong>Time: </strong>
          <span data-bind="text: dayjs(infoBaseEvent().getStart()).format('HH[:]mm[ - ]') + dayjs(infoBaseEvent().getEnd()).format('HH[:]mm')"></span>
        </p>
        <!-- ko if: infoEventType() === 'Event' -->
        <p data-bind="if: infoBaseEvent().location !== null && infoBaseEvent().location !== undefined
                            && infoBaseEvent().location.length > 0">
          <strong>Location: </strong>
          <span data-bind="text: infoBaseEvent().location"></span>
        </p>
        <p data-bind="if: infoBaseEvent().type !== null && infoBaseEvent().type !== undefined
                            && infoBaseEvent().type.length > 0">
          <strong>Type: </strong>
          <span data-bind="text: infoBaseEvent().type"></span>
        </p>
        <p data-bind="if: infoAuthors() !== null && infoAuthors() !== undefined
                                && infoAuthors().length > 0">
          <strong>Authors: </strong>
          <span data-bind="text: infoAuthors()"></span>
        </p>
        <!-- ko if: infoBaseEvent().abstract !== null && infoBaseEvent().abstract !== undefined && infoBaseEvent().abstract.length > 0 -->
        <br />
        <!-- Loading box -->
        <div data-bind="if: infoIsLoadingAbstract">
          <div class="alert alert-info fade show" role="alert">
            <h4 data-bind="text: infoIsLoadingAbstract">Loading abstract</h4>
            <p>Please wait...</p>
          </div>
        </div>
        <!-- Error message box -->
        <div data-bind="visible: infoError">
          <!-- ko with: infoError -->
          <div class="alert alert-dismissible fade show" data-bind="css: level" role="alert">
            <strong data-bind="html: message"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <!-- /ko -->
        </div>
        <div data-bind="visible: !infoError(), if: !infoIsLoadingAbstract() && infoAbstract() !== null && infoAbstract() !== undefined" class="abstract">
          <div class="abstract-header">
            <a data-bind="attr: {href: $root.createAbstractURL('@routes.Application.abstractsPublic(conference.short)')}, text: infoAbstract().title"></a>
          </div>
          <div data-bind="text: infoAbstract().text" class="abstract-body"></div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: infoEventType() === 'Track' -->
        <p data-bind="if: infoChair() !== null && infoChair() !== undefined && infoChair().length > 0">
          <strong>Chair: </strong>
          <span data-bind="text: infoChair()"></span>
        </p>
        <!-- /ko -->
      </div>
      <div class="modal-footer">
        <!-- ko if: canExpandEvent(infoID()) -->
        <button type="button" class="btn btn-sm btn-danger" data-bind="click: function (data, event) {expandEvent(infoID())}" data-bs-dismiss="modal">Expand</button>
        <!-- /ko -->
        <!-- ko if: canCollapseEvent(infoID()) -->
        <button type="button" class="btn btn-sm btn-success" data-bind="click: function (data, event) {collapseEvent(infoID())}" data-bs-dismiss="modal">Collapse</button>
        <!-- /ko -->
        <button type="button" class="btn btn-sm btn-default" data-bs-dismiss="modal">Ok</button>
      </div>
      <!-- /ko -->
    </div>
  </div>
</div>

}